;
;
;
[DEFAULT]
alias_directory   = ~/aliases
architecture      = x64
build             = Debug
compiler          = VS2019
elastic_prefix    = CM_
idol_prefix       = CM_

[81]
prefix 	          = F 
compiler          = VS2013 
idol_prefix       = HPRM_ 

[82]
prefix 	          = G 
compiler          = VS2013 
idol_prefix       = HPRM_ 

[83]
prefix 	          = H 
compiler          = VS2013 
idol_prefix       = HPRM_ 

[90]
prefix            = I
compiler          = VS2013
idol_prefix       = HPECM_

[91]
prefix            = J
compiler          = VS2015
idol_prefix       = HPECM_

[92]
prefix            = K
compiler          = VS2015
idol_prefix       = HPECM_

[93]
prefix            = L
compiler          = VS2017

[94]
prefix            = M
compiler          = VS2017

[100]
prefix            = N
compiler          = VS2019

[101]
prefix            = O
compiler          = VS2019

[102]
prefix            = P
compiler          = VS2019
folder            = trunk
