unalias '*'
set alias_dir     = ~/aliases/tcsh

source $alias_dir/aliases_local.txt

set revision      = 90
set default_dbid  = I1
set folder	  = $revision
set defArch       = x64
set defCompiler   = VS2013
set defBuild      = Debug
set defPatch      = ""
set idolDbPrefix     = HPECM_
set elasticDbPrefix  = HPECM_

source $alias_dir/aliases
source $alias_dir/aliases_common.txt

settitle
