unalias '*'
set alias_dir     = ~/aliases/tcsh

source $alias_dir/aliases_local.txt

set REPOS_ROOT    = E

set revision      = 93
set folder        = trunk
set defArch       = x64
set defCompiler   = VS2015
set defBuild      = Debug
set defPatch      = ""

source $alias_dir/aliases
source $alias_dir/aliases_common.txt

settitle
